.footer {
    padding: 70px 0px;
    background-color: #5f0a94;
}

.footer-container {
    max-width: 1120px;
    margin: 0 auto;
    text-align: center;
}

.footer-container h2 {
    margin-bottom: 25px;
    font-size: 1.6rem;
    letter-spacing: 2px;
    font-weight: 700;
}

.footer-container .redes-sociais ul {
    justify-content: center;
}