.footer {
    padding: 50px 20px;
    background-color: #5f0a94;
}

.footer-container {
    max-width: 1120px;
    margin: 0 auto;
    text-align: center;
}

.footer-container h2 {
    margin-bottom: 15px;
    font-size: 1.8rem;
    letter-spacing: 2px;
    font-weight: 700;
}

.footer-container p {
    margin-bottom: 25px;
}

.footer-container .redes-sociais ul {
    display: flex;
    justify-content: center;
    gap: 20px; /* espaço entre os ícones */

    list-style: none;
    padding: 0;
    margin-bottom: 30px; /* espaço antes do copyright */
}

.email{
    margin-bottom: 20px;
}

.copyrigth {
    margin-top: 10px;
}

.footer-container .redes-sociais ul {
    justify-content: center;
}