.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15px;
}

.cabecalho .logo {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 2px solid #fff;
    text-decoration: underline;
    text-align: center;
    line-height: 55px;
    font-family: "Raleway", sans-serif;
    transition: 0.3s ease-in-out;
}

.cabecalho a:hover .logo {
    color: #9443d8;
    border: 2px solid #9443d8;
}

.cabecalho .menu ul {
    display: flex;
    gap: 20px;
}

.cabecalho .menu ul li a {
    font-size: 20px;
    padding: 10px 20px;
    transition: 0.2s ease-in-out;
}

.cabecalho .menu li a:hover {
    background-color: #9443d8;
    color: #fff;
    border-radius: 50px;
}
