html {
    color: #ffffff;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    max-width: 1120px;
    background: linear-gradient(150deg, #000000, #9e00ff, #000000);
    background-size: 120% 120%;
}

.redes-sociais ul {
    display: flex;
    gap: 20px;
}

.redes-sociais li {
    list-style: none;
}

.redes-sociais a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    border: 1px solid #fff;
    font-size: 20px;
    transition: all 0.3s ease;
}

.redes-sociais a i {
    display: block;
    line-height: 1;
}

.redes-sociais a:hover {
    transform: translateY(-4px);
    background-color: #9443d8;
    border-color: #9443d8;
}
